body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
    background-color: #f2f2f2;
    margin: 0;
}
#barra-superior{
    background-color: #820F14;
    grid-row: 1/2;
}
#flotante-login{
    background-color: #c3c3c3;
    grid-column: 2/4;
    grid-row: 2/4;
}

main{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 20% 20% 20% 20%;
}