<a href="home.html" class="logo">the<span>UNQ</span></a>
<div class="search-container">
    <i class="fas fa-magnifying-glass"></i>
    <input type="text" placeholder="Buscá personas, materias, cursos...">
</div>
<div class="user-menu">
    <button class="dropdown-trigger">
        <i class="fas fa-user"></i>
    </button>
    <div class="dropdown-content">
        <a href="profile.html">[Perfil]</a>
        <a href="">[Configuración]</a>
        <hr>
        <a href="login.html">[Cerrar Sesión]</a>
    </div>
</div>